<%- include("partials/header.ejs");  -%>
<div class="container mt-5">
    <div class="row align-items-start">
        <div class="col-10 ">
            <h1>BOOKS I'VE READ</h1>
        </div>
        <div class="col-2">
            <h4><a href="/add">Add a Book</a></h4>
        </div>
        
    </div>
    <div class="container mt-5">
        <% books.forEach(function(book){%> 
            <div class="clearfix">
                <h2><%= book.name %></h2>
                <div class="row">
                    <div class="col">
                        <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-L.jpg" />                
                    </div>
                    <div class="col">
                        <h4><%=book.author_name%></h4>
                <h6>ISBN <%= book.isbn %></h6>
                <p><%= book.review %></p>
                <h6>Rating : <%= book.rating%>/5</h6>
                <div class="row gx-3">
                    <div class="col-1 my-2 ">
                        <form action="/edit" method="post">
                            <input type="hidden" name="book_id" value="<%=book.id %>">
                            <input class="btn btn-secondary" type="submit" value="Edit">
                        </form>
                    </div>
                    <div class="col-1 m-2">
                        <form action="/delete" method="post">
                            <input type="hidden" name="book_id" value="<%=book.id %>">
                            <input class="btn btn-danger" type="submit"  value="Delete">
                        </form>
                    </div>
                </div>
                    </div>
                </div>
                
                
              </div>
              <hr>
        <%});%>
    </div>

</div>
<%- include("partials/footer.ejs");  -%>

    
